button {
    margin-right: 10px;
    padding: 5px;
}

.color-black {
    color: black;
}

.color-brown {
    color: brown;
}

input {
    margin-left: 10px;
}

.nieedytowalny {
    height: 50px;
    width: 150px;
    color: red;
    background-color: lightblue;
    border-radius: 50px;
}