<div class="container mb-5">
  <div class="row mt-3">
    <div class="col border border-secondary rounded shadow m-2">
      <app-cw1></app-cw1>
    </div>
    <div class="col border border-secondary rounded shadow m-2">
      <app-cw2></app-cw2>
    </div>
    <div class="col border border-secondary rounded shadow m-2">
      <app-cw3></app-cw3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col border border-secondary rounded shadow m-2">
      <app-cw4></app-cw4>
    </div>
    <div class="col border border-secondary rounded shadow m-2">
      <app-cw5></app-cw5>
    </div>

  </div>
</div>